<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- This is essential in getting aspectj to work with a jetty main program that you just start in intellij:
    http://forum.springframework.org/showthread.php?p=166094 -->
    <context:load-time-weaver/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/jetty.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="propertiesArray">
            <props>
                <prop key="jetty.port">8080</prop>
                <prop key="jetty.contextPath">/</prop>
                <prop key="jetty.war">usermgmt-wicket/src/main/webapp</prop>
            </props>
        </property>
    </bean>

    <!-- Highly simplified version (only a single webapp) of:
    http://www.eclipse.org/jetty/documentation/current/frameworks.html#framework-jetty-spring -->

    <bean id="jettyServer" name="Main" class="org.eclipse.jetty.server.Server" init-method="start" destroy-method="stop">
        <constructor-arg>
            <bean id="threadPool" class="org.eclipse.jetty.util.thread.QueuedThreadPool">
                <property name="minThreads" value="10"/>
                <property name="maxThreads" value="50"/>
            </bean>
        </constructor-arg>
        <property name="connectors">
            <list>
                <bean id="connector" class="org.eclipse.jetty.server.ServerConnector">
                    <constructor-arg ref="jettyServer"/>
                    <property name="port" value="8080"/>
                </bean>
            </list>
        </property>
        <property name="handler">
            <bean class="org.eclipse.jetty.webapp.WebAppContext">
                <property name="contextPath" value="${jetty.contextPath}"/>
                <property name="war" value="${jetty.war}">
                </property>
            </bean>
        </property>
    </bean>

</beans>
