<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- This is essential in getting aspectj to work with a jetty main program that you just start in intellij:
    http://forum.springframework.org/showthread.php?p=166094 -->
    <context:load-time-weaver/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/jetty.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="propertiesArray">
            <props>
                <prop key="jetty.port">8080</prop>
                <prop key="jetty.contextPath">/</prop>
                <prop key="jetty.war">src/main/webapp</prop>
            </props>
        </property>
    </bean>

    <bean id="jettyServer" class="org.mortbay.jetty.Server" init-method="start" destroy-method="stop">
        <property name="connectors">
            <list>
                <bean id="Connector" class="org.mortbay.jetty.nio.SelectChannelConnector">
                    <property name="port" value="${jetty.port}"/>
                </bean>
            </list>
        </property>

        <property name="handler">
            <bean id="handlers" class="org.mortbay.jetty.handler.HandlerCollection">
                <property name="handlers">
                    <list>
                        <bean id="contexts" class="org.mortbay.jetty.handler.ContextHandlerCollection">
                            <property name="handlers">
                                <list>
                                    <bean class="org.mortbay.jetty.webapp.WebAppContext">
                                        <property name="contextPath" value="${jetty.contextPath}"/>
                                        <property name="war" value="${jetty.war}">
                                        </property>
                                    </bean>
                                </list>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>
</beans>
